# <font color='red'> *실습* </font> 
# <font color='red'> SETS AND TUPLES </font>

# <font color='blue'> 1. 다음처럼 출력하세요. Hello Chanel, you are 26 years old!

In [ ]:
my_tuple = ("Chanel", 26)

# <font color='blue'> 2. 다음과 같은 튜플이 있습니다. (1) 모든 튜플 출력, (2) 마지막 값 출력, (2) 첫번째와 두번째 값 출력

In [ ]:
my_tuple = ("chanel", "mitch", "sarah", "cynthia", "diane", "steeve")

#  <font color='blue'> 3. 다음과 같은 튜플이 있습니다. (1) 길이를 구하세요. (2) 타입을 확인하세요.

In [ ]:
my_tuple = ("Ryan", "ahmed", 25)

# <font color='blue'> 4. (1) "40"을 출력하세요, (2) "world"를 출력하세요, (3) 25 를 출력하세요, (4) 두번째 요소로 저장되어 있는 리스트를 출력하세요,(5) 맨 마지막 요소인 튜플을 출력하세요

In [ ]:
my_tuple = ("hello", [87, 40, 60], "world", (10, 25, 30))

# <font color='blue'> 5. (1) python 이 들어 있는지 확인하세요. (2) Python 이 들어 있는지 확인하세요. (3) physics 가 없는지 확인하세요.

In [ ]:
my_tuple = ('math','science','science','python','english')

# <font color='blue'> 6. my_list에는 동일한 값들이 들어있습니다. 동일한 값들을 제거하여, 유니크한 값들의 리스트로 만드세요.  </font>

In [ ]:
my_list = ["2", 50, "2", 50, 4, 6, 9, 9]

#  <font color='blue'> 9. 자신의 이름을 추가하세요. 그리고 출력하세요.

In [ ]:
my_set = {"sara", "mike", "jon", "jon", "mike"}