In [2]:
import pandas as pd

롤 랭킹 데이터 : https://www.kaggle.com/datasnaek/league-of-legends


DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv’

In [3]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl,sep='\t')

데이터의 상위 5개 행을 출력하라

데이터의 행과 열의 갯수를 파악하라

전체 컬럼을 출력하라

6번째 컬럼명을 출력하라

6번째 컬럼의 데이터 타입을 확인하라

6번째 컬럼의 3번째 값은 무엇인가?

제주 날씨,인구에 따른 교통량데이터 : 출처 제주 데이터 허브 


DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv’

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl,encoding='euc-kr')

데이터 마지막 3개행을 출력하라

각 컬럼의 결측치 숫자를 파악하라

각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

거주인구 컬럼의 값들을 출력하라

읍면동명 컬럼의 유일값 갯수를 출력하라

읍면동명 컬럼의 유일값을 모두 출력하라

식당데이터 : https://github.com/justmarkham/DAT8/blob/master/data/chipotle.tsv


DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv’

In [6]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라

quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 만드시오

item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 데이터의 갯수는 몇개인가

item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하고, index 값을 초기화 하여라

new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라

df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라

df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라

df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 가져오시오

df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 가져오시오

df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라

df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라

df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라

df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 가져오시오

df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라

df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라

df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라

df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라 

lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

뉴욕 airBnB : https://www.kaggle.com/ptoscano230382/air-bnb-ny-2019 
        
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv’

In [8]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라

데이터의 각 host_name의 갯수를 구하고 갯수 기준 내림차순 정렬한 데이터 프레임을 만들어라.

neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라

neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group그룹의 최댓값들을 출력하라

neighbourhood_group 값에 따른 price값의 평균, 분산, 최대, 최소 값을 구하여라