winemag-data.csv 파일을 reviews 로 읽는다.

리뷰 데이터프레임에서 points 컬럼의  median 값은?

나라를 중복되지 않도록 가져와서 countries 변수에 저장하고, 화면에 출력하시오.

각 국가별로는 몇개의 리뷰가 있는지, 각국가별 리뷰수를 구하시오.

리뷰 데이터프레임의 price 컬럼 값에서, price의 평균값을 뺀 값을, centered_price 라고 저장하시오.

나는 경제적이므로, 가격대비 포인트가 가장 큰 와인을 사려한다. 해당 와인의 title은?

사람들이 어떤와인을 더 많이 거론했는지 보려한다.

"tropical" 이 들어있는 리뷰의 갯수를 세고, "fruity" 라고 들어있는 리뷰의 갯수를 세어서

판다스 시리즈로 descriptor_counts 변수로 만들어 보자.

별점 시스템을 만들려고 한다. 따라서 별점에 대한 데이터가 필요하다.

별점은 1,2,3 즉 3개로 만들것이다.

포인트가 95점 이상이면 3점, 85점 이상이면 2점, 나머지는 1점으로 할 것이다. 

리뷰데이터를 통해 각 데이터의 별점을 구하시오.

리뷰의 region_2 컬럼에 데이터가 비어있는 경우에는, 'Unknown'으로 셋팅하자.

각 포인트별로, 몇개의 와인리뷰 데이터가 있는가?

-- 결과 --

88     17207

87     16933

90     15410

86     12600

89     12226

생략...

포인트별로, 가격의 최소값을 구해본다.

즉, 이것을 구하면, 100점짜리 와인을 먹으려면, 최소 얼마를 내야 하는지 파악 가능함.

각 국가별로, 가격의 최소값, 최대값 은?